<%- include('../user/includes/layout.ejs') %>
    
    <!-- User-header -->
    <%- include('../user/includes/User-header.ejs') %>


    <div class="breadcrumb-area pt-255 pb-170" style="background-image: url(/assets/img/banner/banner-4.jpg)">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <h2 style="color:white;">CHECKOUT</h2>
                <ul>
                    <li>
                        <a href="#">home</a>
                    </li>
                    <li>CHECKOUT</li>
                </ul>
            </div>
        </div>
    </div>

<div class="checkout-area pt-130 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="coupon-accordion">
                    
                    <!-- ACCORDION START -->
                    <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                    <div id="checkout_coupon" class="coupon-checkout-content">
                        <div class="coupon-info">
                            <form>
                                <p class="checkout-coupon mt-3" >
                                    <input type="text" placeholder="Coupon code" id="couponcode" />
                                    <input type="button" value="Apply Coupon" onclick="coupon('<%=total%>')" />
                                    <p id="couponErr"></p>
                                </p>
                            </form>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-end mb-2 mt-2" >
                        <!-- Modal -->
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Available Coupons</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    
                                    <div class="modal-body">
                                        
                                        <div class="containercoupon">
                                            <% coupon.forEach(function(result){%>
                                            <div class="coupon-card">
                    
                                                <h3><%=result.Description%></h3>
                                                <div class="coupon-row">
                                                    <span id="cpnCode"><%=result.CouponCode%></span>
                                                    <span id="cpnBtn">Copy Code</span>
                                                </div>
                                                <p>Valid Till: <%=result.ExpiryDate%></p>
                                                <div class="circle1"></div>
                                                <div class="circle2"></div>
                                            </div>
                                            <br>
                                            <%})%>
                                       </div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                               </div>
                            </div>
                            
                        </div>
                        
                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary">Available Coupons</a>
                    </div>
                    
                    <!-- ACCORDION END -->
                    
                   
                						
                </div>
            </div>
        </div>
        <form id="checkout">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                
                    <div class="checkbox-form">						
                        <h3>Billing Details</h3>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>First Name <span class="required">*</span></label>										
                                    <input type="text" name="firstname" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Last Name <span class="required">*</span></label>										
                                    <input type="text" name="lastname" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    <input type="text" name="address" placeholder="Street address" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>District<span class="required">*</span></label>
                                    <input type="text" name="district"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Phone<span class="required">*</span></label>
                                    <input type="text" name="phone"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>State<span class="required">*</span></label>										
                                    <input type="text" name="state" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>Postcode / Zip <span class="required">*</span></label>										
                                    <input type="text" name="post"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                
                                <div id="cbox_info" class="checkout-form-list create-account">
                                    <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page.</p>
                                    <label>Account password  <span class="required">*</span></label>
                                    <input type="password" placeholder="password" />	
                                </div>
                            </div>								
                        </div>
                        <!-- <div class="different-address">
                            <div class="ship-different-title">
                                <h3>
                                    <label>Ship to a different address?</label>
                                    <input id="ship-box" type="checkbox" />
                                </h3>
                            </div>
                            <div id="ship-box-info" class="row">
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>First Name <span class="required">*</span></label>										
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Last Name <span class="required">*</span></label>										
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Company Name</label>
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Address <span class="required">*</span></label>
                                        <input type="text" placeholder="Street address" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Town / City <span class="required">*</span></label>
                                        <input type="text" placeholder="Town / City" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>State / County <span class="required">*</span></label>										
                                        <input type="text" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Postcode / Zip <span class="required">*</span></label>										
                                        <input type="text" placeholder="Postcode / Zip" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Email Address <span class="required">*</span></label>										
                                        <input type="email" placeholder="" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Phone  <span class="required">*</span></label>										
                                        <input type="text" placeholder="Postcode / Zip" />
                                    </div>
                                </div>								
                            </div>
                            <div class="order-notes">
                                <div class="checkout-form-list mrg-nn">
                                    <label>Order Notes</label>
                                    <textarea id="checkout-mess" cols="30" rows="10" placeholder="Notes about your order, e.g. special notes for delivery." ></textarea>
                                </div>									
                            </div>
                        </div>													 -->
                    </div>
            </div>	
            <div class="col-lg-6 col-md-12 col-12">
                <div class="your-order">
                    <h3>Your order</h3>
                    <div class="your-order-table table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-total">Total</th>
                                </tr>							
                            </thead>
                            <tbody>
                                <% viewcart.products.forEach(function(result){%>
                                    <tr class="cart_item">
                                        <td class="product-name">
                                            <%=result.productname%><strong class="product-quantity"> × <%=result.quantity%></strong>
                                        </td>
                                        <td class="product-total">
                                            <span class="amount"><%=result.quantity*result.price%></span>
                                        </td>
                                    </tr>
                                <%})%>
                                
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Cart Subtotal</th>
                                    <td id="ordertotal"><span class="amount"><%=total%></</span></td>
                                </tr>
                                <div id="coupontotal">
                                    <tr class="cart-subtotal">
                                        <th>Discount</th>
                                        <td id="discountid"><span class="amount">0</span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Order Total</th>
                                        <td id="finaltotal"><strong><span class="amount"><%=total%></span></strong>
                                        </td>
                                    </tr>	
                                </div>
                                							
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method mt-40">
                        <div class="payment-accordion">
                            <div class="panel-group" id="faq">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="display:flex ;">
                                        <input style="width:3%;" type="radio" id="html" name="payment" value="COD">
                                        <h5 class="panel-title"  style="margin-top: 11px;margin-left:7px;"><label for="html" data-bs-toggle="collapse" aria-expanded="true" data-parent="#faq" href="#payment-1">Cash On Delivery</label></h5>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="display:flex ;">
                                        <input style="width:3%;" type="radio" id="html1" name="payment" value="NetBanking">
                                        <h5 class="panel-title"  style="margin-top: 11px;margin-left:7px;"><label for="html1" class="collapsed" data-bs-toggle="collapse" aria-expanded="false" data-parent="#faq" href="#payment-2">NetBanking/UPI</label></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="order-button-payment">
                                <input type="button" onclick="checkout('<%=total%>')" value="Place order" />
                            </div>								
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<!-- checkout-area end -->


<footer>
    <div class="footer-top pt-210 pb-98 theme-bg">
        <div class="container">
           <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="/assets/img/logo/STW-removebg-preview.png" alt="" style="width: 50%;">
                            </a>
                        </div>
                        <div class="footer-about">
                            <p><span>SPINTHEWHEELS</span>The most useful Bikershub which provides the riders to select the good destinations which they can chillout, purchase the bike accessories and riding gears, know the news and updates about the bikes, recent new models arrived etc..  </p>
                            <div class="footer-support">
                                <h5>FOR SUPPORT</h5>
                                <span> 01245 658 698 (Toll Free)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30 pl-60">
                        <div class="footer-widget-title">
                            <h3>QUICK LINK</h3>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li><a href="/aboutus">About us</a></li>
                                <li><a href="/shop">Shop</a></li>
                                <li><a href="#">Destinations</a></li>
                                <li><a href="#">News and Updates</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>MOTOR TWEETS</h3>
                        </div>
                        <div class="food-widget-content pr-30">
                            <div class="single-tweet">
                                <p><a href="https://twitter.com/bikemag">@bikemag,</a> Bike Magazine showcases the sport of mountain biking like no other publication.</p>
                            </div>
                            <div class="single-tweet">
                                <p><a href="https://twitter.com/DucatiMotor">@DucatiMotor,</a> Official Twitter account of Ducati Motor Holding.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>CONTACT INFO</h3>
                        </div>
                        <div class="food-info-wrapper">
                            <div class="food-address">
                                <div class="food-info-title">
                                    <span>Address</span>
                                </div>
                                <div class="food-info-content">
                                    <p>276 Jhilli Nogor, 4th folor, Momen Tower, Kozhikode ,673008</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom ptb-35 black-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="copyright">
                        <p>©Copyright, 2022 All Rights Reserved by <a href="#">HASTECH</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="footer-payment-method">
                        <a href="#"><img alt="" src="/assets/img/icon-img/payment.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/ajax-mail.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/preloader.js"></script>
<script>
     var cpnBtn = document.getElementById("cpnBtn");
            var cpnCode = document.getElementById("cpnCode");

            cpnBtn.onclick = function(){
                navigator.clipboard.writeText(cpnCode.innerHTML);
                cpnBtn.innerHTML ="COPIED";
                setTimeout(function(){
                    cpnBtn.innerHTML="COPY CODE";
                }, 3000);
            }
</script>


<%- include('../user/includes/user-footerend.ejs')%>  