<!-- layout -->
<%- include('../user/includes/layout.ejs') %>
    
    <!-- User-header -->
    <%- include('../user/includes/User-header.ejs') %>

        <div class="wrapper">
            
            <div class="slider-area">
                <div class="slider-active owl-carousel">
                    <div class="single-slider slider-1" style="background-image: url(/images/<%=banner[0].bannerImg[0]%>);background-size:120% 100%;">
                        <div class="container">
                            <div class="slider-content slider-animated-1">
                                <div class="slider-img text-center">
                                    <img class="animated" src="assets/img/slider/real-removebg-preview.png" alt="slider images">
                                </div>
                                <h2 class="animated" style="margin-top:186px;">MOTORCYCLE</h2>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div class="overview-area pt-135">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="overview-content">
                                <h1><span>SPINTHEWHEELS</span> WORLD MOST </h1>
                                <h2>LARGEST <span>MOTORCYCLE STORE</span></h2>
                                <p><span>SPINTHEWHEELS</span> The BEST Ridershub which provides the riders to select the good destinations which they can chillout, purchase the bike accessories and riding gears, know the news and updates about the bikes, recent new models arrived etc.. </p>
                                <div class="question-area">
                                    <h4>HAVE ANY QUESTION? </h4>
                                    <div class="question-contact">
                                        <div class="question-icon">
                                            <i class="bi bi-telephone"></i>
                                        </div>
                                        <div class="question-content-number">
                                            <h6> 01245 658 698</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="overview-img">
                                <img class="tilter" src="assets/img/banner/banner-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-area pt-135 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="banner-wrapper mb-30">
                                <a href="/shop"><img src="assets/img/banner/banner1.jpg" alt="image">
                                <div class="banner-content">
                                    <h2>BUY ACCESSORIES</h2>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="banner-wrapper mb-30">
                                <a href="#"><img src="assets/img/banner/banner2.jpg" alt="image"></a>
                                <div class="banner-content">
                                    <h2>FIND DESTINATIONS</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="banner-wrapper mb-30">
                                <a href="#"><img src="assets/img/banner/banner-3.jpg" alt="image"></a>
                                <div class="banner-content">
                                    <h2>FIND NEWS AND UPDATES</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accessories-area pb-130">
                <div class="container-fluid">
                    <div class="section-title section-fluid text-center mb-60">
                        <h2>ACCESSORIES</h2>
                        <p><span>SPINTHEWHEELS</span> - The most useful Bikershub which provides the riders to select the good destinations which they can chillout, purchase the bike accessories and riding gears, know the news and updates about the bikes, recent new models arrived etc.. </p>
                    </div>
                    <div class="accessories-wrapper">
                        <div class="product-accessories-active owl-carousel">
                        
                        <% result.forEach(function(result){%>  
                            <%if(result.productStatus==="true"){%>
                                <div class="product-wrapper">
                                    <div class="product-img">
                                        
                                        <a href="#">
                                            <img src="/images/<%=result.productImg[0]%>"  alt="">
                                        </a>
                                        <div class="product-action">
                                            <a class="action-plus-2" title="Add To Cart" href="#">
                                                <i class="bi bi-cart"></i>
                                            </a>
                                            <a class="action-cart-2" title="Wishlist" href="#">
                                                <i class="bi bi-heart"></i>
                                            </a>
                                            <a class="action-reload" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
                                                <i class="bi bi-binoculars"></i>
                                            </a>
                                        </div>
                                        <div class="product-content-wrapper-2">
                                            <div class="product-title-price-2 text-center">
                                                <span><%=result.price%>/-</span>
                                                <h4><a href="product-details.html"><%=result.productname%></a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%} %>             
                        <%})%>    
                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="latest-product-area pt-205 pb-145 bg-img" style="background-image: url(assets/img/banner/banner-4.jpg)">
                <div class="container-fluid">
                    <div class="latest-product-slider owl-carousel">
                        <div class="single-latest-product slider-animated-2">
                            <div class="row">
                                <div class="col-lg-7 col-md-12 col-12">
                                    <div class="latest-product-img">
                                        <img class="animated" src="assets/img/banner/banner-2.png" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12 col-12">
                                    <div class="latest-product-content">
                                        <h2 class="animated">LATEST OFFER <br>FOR POPULAR BIKES</h2>
                                        <p class="animated"><span>OSWAN</span> the most latgest bike store in the wold can serve you latest            qulity of motorcycle also you can sell here your motorcycle it quo minus iduod maxie placeat facere possimus, omnis voluptas assumenda est, omnis dolor llendus. Temporibus autem quibusdam </p>
                                        <div class="latest-price">
                                            <h3 class="animated">NOW AT <span>$1250</span></h3>
                                            <span class="animated">35% DISCOUNT</span>
                                        </div>
                                        <div class="latext-btn">
                                            <a class="animated" href="#">SELECT A BIKE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-latest-product slider-animated-2">
                            <div class="row">
                                <div class="col-lg-7 col-col-12 col-12">
                                    <div class="latest-product-img">
                                        <img class="animated" src="assets/img/banner/banner-3.png" alt="image">
                                    </div>
                                </div>
                                <div class="col-lg-5 col-col-12 col-12">
                                    <div class="latest-product-content">
                                        <h2 class="animated">LATEST OFFER <br>FOR POPULAR BIKES</h2>
                                        <p class="animated"><span>OSWAN</span> the most latgest bike store in the wold can serve you latest            qulity of motorcycle also you can sell here your motorcycle it quo minus iduod maxie placeat facere possimus, omnis voluptas assumenda est, omnis dolor llendus. Temporibus autem quibusdam </p>
                                        <div class="latest-price">
                                            <h3 class="animated">NOW AT <span>$1250</span></h3>
                                            <span class="animated">35% DISCOUNT</span>
                                        </div>
                                        <div class="latext-btn">
                                            <a class="animated" href="#">SELECT A BIKE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="accessories-area pt-152 pb-130">
                <div class="container-fluid">
                    <div class="section-title section-fluid text-center mb-60">
                        <h2>DESTINATIONS</h2>
                        <p><span>SPIN THE WHEELS</span> - The most useful Bikershub which provides the riders to select the good destinations which they can chillout, purchase the bike accessories and riding gears, know the news and updates about the bikes, recent new models arrived etc.. </p>
                    </div>
                    <div class="accessories-wrapper">
                        <div class="product-accessories-active owl-carousel">
                        <% result.forEach(function(result){%>      
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="/assets/img/banner/05tvmhavoc.jpg" alt="">
                                    </a>
                                    <div class="product-action">
                                        
                                        <a class="action-cart-2" title="Wishlist" href="#">
                                            <i class="bi bi-binoculars"></i>
                                        </a>
                                        
                                    </div>
                                    <div class="product-content-wrapper-2">
                                        <div class="product-title-price-2 text-center">
                                            <span></span>
                                            <h4><a href="product-details.html"></a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%}) %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="blog-area pb-110">
                <div class="container">
                    <div class="section-title text-center mb-60">
                        <h2>NEWS AND UPDATES</h2>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-hm-wrapper mb-40">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog-hm-1.jpg" alt="image"></a>
                                    <div class="blog-date">
                                        <h4>24 October, 2022</h4>
                                    </div>
                                    
                                </div>
                                <div class="blog-hm-content">
                                    <h3><a href="blog-details.html">Sports Motorbike for play in desert </a></h3>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-hm-wrapper mb-40">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog-hm-2.jpg" alt="image"></a>
                                    <div class="blog-date">
                                        <h4>22 February, 2022</h4>
                                    </div>
                                    
                                </div>
                                <div class="blog-hm-content">
                                    <h3><a href="blog-details.html">Motorbike Racing at October</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-hm-wrapper mb-40">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="assets/img/blog/blog-hm-3.jpg" alt="image"></a>
                                    <div class="blog-date">
                                        <h4>20 February, 2022</h4>
                                    </div>
                                   
                                </div>
                                <div class="blog-hm-content">
                                    <h3><a href="blog-details.html">Latest Motorbike Release this Year </a></h3>         
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="icofont icofont-close" aria-hidden="true"></span>
                </button>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="qwick-view-left">
                                <div class="quick-view-learg-img">
                                    <div class="quick-view-tab-content tab-content">
                                        <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                            <img src="assets/img/quick-view/l1.jpg" alt="">
                                        </div>
                                        <div class="tab-pane fade" id="modal2" role="tabpanel">
                                            <img src="assets/img/quick-view/l2.jpg" alt="">
                                        </div>
                                        <div class="tab-pane fade" id="modal3" role="tabpanel">
                                            <img src="assets/img/quick-view/l3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="quick-view-list nav" role="tablist">
                                    <a class="active" href="#modal1" data-bs-toggle="tab" role="tab">
                                        <img src="assets/img/quick-view/s1.jpg" alt="">
                                    </a>
                                    <a href="#modal2" data-bs-toggle="tab" role="tab">
                                        <img src="assets/img/quick-view/s2.jpg" alt="">
                                    </a>
                                    <a href="#modal3" data-bs-toggle="tab" role="tab">
                                        <img src="assets/img/quick-view/s3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="qwick-view-right">
                                <div class="qwick-view-content">
                                    <h3><%=result.productname%></h3>
                                    <div class="price">
                                        <span class="new">$90.00</span>
                                        <span class="old">$120.00  </span>
                                    </div>
                                    <div class="rating-number">
                                        <div class="quick-view-rating">
                                            <i class="fa fa-star reting-color"></i>
                                            <i class="fa fa-star reting-color"></i>
                                            <i class="fa fa-star reting-color"></i>
                                            <i class="fa fa-star reting-color"></i>
                                            <i class="fa fa-star reting-color"></i>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do tempor incididun ut labore et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                                    <div class="quick-view-select">
                                        <div class="select-option-part">
                                            <label>Size*</label>
                                            <select class="select">
                                                <option value="">- Please Select -</option>
                                                <option value="">900</option>
                                                <option value="">700</option>
                                            </select>
                                        </div>
                                        <div class="select-option-part">
                                            <label>Color*</label>
                                            <select class="select">
                                                <option value="">- Please Select -</option>
                                                <option value="">orange</option>
                                                <option value="">pink</option>
                                                <option value="">yellow</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="quickview-plus-minus">
                                        <div class="cart-plus-minus">
											<input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
										</div>
                                        <div class="quickview-btn-cart">
                                            <a class="btn-style" href="#">add to cart</a>
                                        </div>
                                        <div class="quickview-btn-wishlist">
                                            <a class="btn-hover" href="#"><i class="icofont icofont-heart-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('../user/includes/User-footer.ejs') %>  
        
		
		
		
		
		
		
		
		

