<%- include('../user/includes/layout.ejs') %>

<%- include('../user/includes/User-header.ejs') %>


<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(assets/img/banner/banner-4.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">

            <h2>MY ORDERS</h2>
            
        </div>
    </div>
</div>

<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <% viewOrders.forEach(function(result){%>
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5">
              <h5 class="text-muted mb-0">Thanks for your Order, <span style="color:#001232;"><%=user.Fullname%></span>!</h5>
            </div>
            <div class="card-body p-4">
                <div class="card shadow-0 border mb-4">
                    <div class="card-body">
                      <%for(let i=0 ;i < result.Products.length;i++){%>
                        <div class="row">
                          <div class="col-md-2">
                            <img src="images/<%=result.Products[i].productImg[0]%>"
                              class="img-fluid" alt="Phone">
                          </div>
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0"><%=result.Products[i].productname%></p>
                          </div>
                          
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0 small">Qty : <%=result.Products[i].quantity%></p>
                          </div>
                          <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                            <p class="text-muted mb-0 small">Price:<%=result.Products[i].price%></p>
                          </div>
                          
                          <% if(i===0){%>
                            <%if(result.paymentStatus==="Pending"){%>
                            <div class="col-md-4 mt-3 text-center d-flex justify-content-center align-items-center">
                              <p  style="color:blue;">Order Pending</p>
                            </div>
                            <%}else if(result.paymentStatus==="Placed"){%>
                              <div class="col-md-4 mt-3 text-center d-flex justify-content-center align-items-center">
                                <p  style="color:blue;">Order Placed</p>
                              </div>
                            <%}else if(result.paymentStatus==="Shipped"){%>
                              <div class="col-md-4 mt-3 text-center d-flex justify-content-center align-items-center">
                                <p  style="color:blue;">Order Shipped</p>
                              </div>
                            <%}else if(result.paymentStatus==="Delivered"){%>
                              <div class="col-md-4 mt-3 text-center d-flex justify-content-center align-items-center">
                                <p  style="color:green;">Order Delivered</p>
                              </div>
                            <%}else if(result.paymentStatus==="Cancelled"){%>
                              <div class="col-md-4 mt-3 text-center d-flex justify-content-center align-items-center">
                                <p  style="color:red;">Order Cancelled</p>
                                
                              </div>
                            <%}%>
                          <%}%>
                          
                        </div>
                      <%}%>
                      
                      
                      <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                      <div class="row d-flex align-items-center">
                        <div class="col-md-2">
                          <p class="text-muted mb-0 small">Track Order</p>
                        </div>
                        <div class="col-md-10">
                          <div class="progress" style="height: 6px; border-radius: 16px;">
                            <%if(result.paymentStatus==="Pending"){%>
                            <div class="progress-bar" role="progressbar"
                              style="width: 15%; border-radius: 16px; background-color: #001232;" aria-valuenow="65"
                              aria-valuemin="0" aria-valuemax="100">
                            </div>
                            <%}else if(result.paymentStatus==="Placed"){%>
                              <div class="progress-bar" role="progressbar"
                              style="width: 42%; border-radius: 16px; background-color: #001232;" aria-valuenow="65"
                              aria-valuemin="0" aria-valuemax="100">
                              </div>
                            <%}else if(result.paymentStatus==="Shipped"){%>
                              <div class="progress-bar" role="progressbar"
                              style="width: 68%; border-radius: 16px; background-color: #001232;" aria-valuenow="65"
                              aria-valuemin="0" aria-valuemax="100">
                              </div>
                            <%}else if(result.paymentStatus==="Delivered"){%>
                              <div class="progress-bar" role="progressbar"
                              style="width: 100%; border-radius: 16px; background-color: #001232;" aria-valuenow="65"
                              aria-valuemin="0" aria-valuemax="100">
                              </div>
                            <%}else if(result.paymentStatus==="Cancelled"){%>
                              
                              <%}%>
                          </div>
                          <div class="d-flex justify-content-around mb-1">
                            <p class="text-muted mt-1 mb-0 small ms-xl-5">Pending</p>
                            <p class="text-muted mt-1 mb-0 small ms-xl-5">Order Placed</p>
                            <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                            <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  
  
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0">Order Details</p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">SubTotal</span><%=result.totalPrice%></p>
              </div>
  
              <div class="d-flex justify-content-between pt-2">
                <p class="text-muted mb-0"> Payment Mode : <%=result.paymentMode%> </p>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span><%=result.totalPrice%></p>
              </div>
            </div>
            <!-- <div class="card-footer border-0 px-4 py-5"
              style="background-color: #001232; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
              <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                paid: <span class="h2 mb-0 ms-2"><%=result.totalPrice%></span></h5>

            </div> -->
            
          </div>
          <%})%>
        </div>
        
      </div>
    </div>
  </section>

  <%- include('../user/includes/User-footer.ejs') %> 