<%- include('../user/includes/layout.ejs') %>

<%- include('../user/includes/User-header.ejs') %>


<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(/assets/img/banner/banner-4.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">

            <h2>PRODUCT DETAILS</h2>
            
        </div>
    </div>
</div>
<div class="product-details-area fluid-padding-3 ptb-130">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-details-img-content">
                    <div class="product-details-tab mr-40">
                        <div class="product-details-large tab-content">
                            <div class="tab-pane active" id="pro-details1">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/img/product-details/bl1.jpg">
                                        
                                        <img src="/images/<%=result[0].productImg%>" alt="">
                                    </a>
                                </div>
                            </div>
                            
                            
                            
                            
                        </div>
                        <div class="product-details-small nav mt-12 product-dec-slider owl-carousel">
                            <a class="active" href="#pro-details1">
                                <img src="assets/img/product-details/s1.jpg" alt="">
                            </a>
                            <a href="#pro-details2">
                                <img src="assets/img/product-details/s2.jpg" alt="">
                            </a>
                            <a href="#pro-details3">
                                <img src="assets/img/product-details/s3.jpg" alt="">
                            </a>
                            <a href="#pro-details4">
                                <img src="assets/img/product-details/s4.jpg" alt="">
                            </a>
                            <a href="#pro-details5">
                                <img src="assets/img/product-details/s3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-details-content">
                    <h2><%=result[0].productname%></h2>
                    <hr style="margin:15px;">
                    <div class="product-price">
                        <span class="woocommerce-Price-currencySymbol" style="user-select: auto;">₹</span>
                        <span><%=result[0].price%>/-</span>
                    </div>
                    <div class="product-overview">
                        <h5 class="pd-sub-title">Product Overview</h5>
                        <p><%=result[0].description%></p>
                    </div>
                    
                    <div class="quickview-plus-minus">
                        <div class="quickview-btn-cart">
                            <a class="btn-style cr-btn" onclick="addtocart('<%=result[0].id%>')" href="#"><span>add to cart</span></a>
                        </div>
                        <div class="quickview-btn-wishlist">
                            <a class="btn-hover cr-btn" onclick="wishlist('<%=result[0].id%>')" ><span><i class="bi bi-heart"></i></span></a>
                        </div>
                    </div>
                    
                    <div class="product-share">
                        <h5 class="pd-sub-title">Share</h5>
                        <ul>
                            <li>
                                <a href="#"><i class="bi bi-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bi bi-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"> <i class="bi bi-whatsapp"></i></a>
                            </li>
                        </ul>
                        <hr style="margin:15px;">
                        <img src="https://bikesterglobal.com/shop/wp-content/uploads/2022/06/Genuine-Products-2.png.webp" style="width: 350px; user-select: auto;" alt="Secure Pay">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../user/includes/User-footer.ejs') %> 




 