<%- include('../user/includes/layout.ejs') %>

<%- include('../user/includes/User-header.ejs') %>

<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(assets/img/banner/banner-4.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">

            <h2>Profile</h2>
            <ul>
                <li>
                    <a href="#">home</a>
                </li>
                <li>login</li>
            </ul>
        </div>
    </div>
</div>

<section style="background-color: #eee;">
    <div class="container py-5">
      
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%=user.Fullname%></h5>
              <div class="d-flex justify-content-center mb-2">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <input class="text-muted mb-0" value="<%=user.Fullname%>">
                </div>
              </div>
              <hr style="margin: 15px;">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <input class="text-muted mb-0" value="<%=user.Email%>">
                </div>
              </div>
              <hr style="margin: 15px;">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                    <input class="text-muted mb-0" value="<%=user.Phone%>">
                </div>
              </div>
              <hr style="margin: 15px;">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                    <input class="text-muted mb-0" value="Address">
                </div>
              </div>
              <hr style="margin:15px;">
              <div class="row">
                <div class="col-sm-10">
                  <p class="mb-0"></p>
                </div>
                <div class="col-sm-2">
                    <a class="mb-0 btn btn-primary" style="color:white;">Update</a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>







<%- include('../user/includes/User-footer.ejs') %> 