<%- include('../user/includes/layout.ejs') %>

<%- include('../user/includes/User-header.ejs') %>

<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(assets/img/banner/banner-4.jpg)">
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">

            <h2>SHOP</h2>
            
        </div>
    </div>
</div>

<div class="shop-wrapper fluid-padding-2 pt-120 pb-150">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="product-sidebar-area pr-60">
                    <div class="sidebar-widget pb-55">
                        <h3 class="sidebar-widget">Search Products</h3>
                        <div class="sidebar-search">
                            
                            <form action="/search" method="post">
                                
                                <input data-search type="search" name="search" id="myInput" onclick="myFunction(`<%=result%>`)"  placeholder="Search Products...">
                                <button type="submit" ><i class="bi bi-search"></i></button>
                                
                                
                                
                            </form>
                            
                        </div>
                    </div>
                    
                        <div class="sidebar-widget pb-50">
                            <h3 class="sidebar-widget">by categories</h3>
                            <% category.forEach(function(result){%>
                            <div class="widget-categories">
                                <ul>
                                    <li class="mb-2"><a href="/categoryproduct/<%=result.category%>"><%=result.category%></a></li>                                   
                                </ul>
                            </div>
                            <%})%>
                        </div>
                    
                    
                    <!-- <div class="sidebar-widget mb-55">
                        <h3 class="sidebar-widget">by price</h3>
                        <div class="price_filter mr-60">
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="label-input">
                                    <label>price : </label>
                                    <input type="text" id="amount" name="price"  placeholder="Add Your Price" />
                                </div>
                                <button type="button">Filter</button> 
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-9">
                
                <div class="grid-list-product-wrapper tab-content">
                    <div id="new-product" class="product-grid product-view tab-pane active">
                        
                        <div class="row">
                            <% result.forEach(function(result){%>
                            <%if(result.productStatus==="true"){%>  
                                <div class="product-width col-md-6 col-xl-4 col-lg-6">
                                
                                    <div class="product-wrapper mb-35">
                                        
                                            <div class="product-img" >
                                                
                                                <a href="/productdetails/<%=result.id%>">
                                                    
                                                    <img src="/images/<%=result.productImg[0]%>" alt="">
                                                    
                                                </a>
                                                <div class="product-action">
                                                    <a class="action-plus-2 p-action-none" title="Add To Cart" onclick="addtocart('<%=result.id%>')" href="#">
                                                        <i class="bi bi-cart"></i>
                                                    </a>
                                                    <a class="action-cart-2" title="Wishlist" href="#">
                                                        <i class="bi bi-heart"></i>
                                                    </a>
                                                    <a class="action-reload" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" href="#">
                                                        <i class="bi bi-binoculars"></i>
                                                    </a>
                                                </div>
                                                <div class="product-content-wrapper" >
                                                    <div class="product-title-spreed" data-productname>
                                                        <h4 id="myUL"><a href="product-details.html"><%=result.productname%></a></h4>   
                                                    </div>
                                                    <div class="product-price">
                                                        <span><%=result.price%></span>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            <%}%>    
                            
                            <%})%>
                        </div>
                    </div>
                </div>
                <div class="paginations text-center mt-20">
                    <ul>
                        <li><a href="/shop?page=<%=Number(currentPage-1)%>"><i class="fa fa-angle-left"></i></a></li>
                        <% for(let i=1 ;i <= pages; i++) {%>
                        <% if(i == currentPage){%>
                            <li class="active" ><a href="/shop?page=<%=i%>"><%=i%></a></li>
                        <%}else{%>
                            <li><a href="/shop?page=<%=i%>"><%=i%></a></li>
                        <%}%>                       
                        <%}%>
                        <li><a href="/shop?page=<%=Number(currentPage)+1%>"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../user/includes/User-footer.ejs') %> 